html {
  background-color: #c9b5ab;
  line-height: 1.5;
  font-size: .8rem;
}

h1, h2 {
  color: #3f1622
  font-weight: bold;
}

a {
  color: #8f2440
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
}
